* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./galaxy.gif);
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: aquamarine;
}

.input {
    display: flex;
    justify-content: space-evenly;
    height: 2rem;
}

input,
select,
button {
    color: aquamarine;
    border-radius: 5px;
    background-color: rgb(144, 87, 180, 0.5);
    border: none;
    box-shadow: 2px 2px 5px pink;
    font-size: 15px;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.bottom h1{
    width: 50%;
    height: 50%;
    align-items: center;
}

.weight{
    color: black;
    font-size: 45px;
    width: 100%;
}  